.formwrap {
	position: relative;
}

form {
	width: auto;
	position: relative;
	margin: 10px auto 0 auto;
}

form select {
	font-family: $body-font;
	background-color: $dropdown;
	color: $score-color;
  padding: 0 12px;
  height: 42px;
	width: 100%;
	border: none;
	font-size: 14px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
}

form::before {
	content: "❯";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 42px;
	height: 42px;
	text-align: center;
	font-size: 15px;
	line-height: 45px;
	color: rgb(255 255 255);
	background-color: rgb(62 130 202);
	pointer-events: none;
}

form:hover::before {
	color: rgb(255 255 255);
	background-color: rgb(62 130 202);
}

form select option {
	padding: 30px;
	max-width: 100%;
}

@media screen and (min-width: 700px) {
	form select {
		width: 400px;
	}
}
